version: "3.9"

services:
  nginx:
    image: nginx:latest
    container_name: nginx_lb
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - app1
      - app2
      - app3

  app1:
    build: .
    container_name: app1
    environment:
      - PORT=3000
    expose:
      - "3000"

  app2:
    build: .
    container_name: app2
    environment:
      - PORT=3000
    expose:
      - "3000"

  app3:
    build: .
    container_name: app3
    environment:
      - PORT=3000
    expose:
      - "3000"
